@font-face {
    font-family: "NT Somic";
    src: url("./Fonts/TTF/NTSomic-Bold.ttf") format("truetype");
    font-weight:bold;
    font-style: normal;
}

@font-face {
  font-family: "NT Somic";
  src: url("./Fonts/TTF/NTSomic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: "NT Somic";
    font-weight: normal;
}

.WildberriesTag {
    color: darkorchid;
}

.OzonTag {
    color: blue;
}
