@font-face {
    font-family: "NT Somic";
    src: url("./Fonts/TTF/NTSomic-Bold.ttf") format("truetype");
    font-weight:bold;
    font-style: normal;
}

@font-face {
  font-family: "NT Somic";
  src: url("./Fonts/TTF/NTSomic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: "NT Somic";
    font-weight: normal;
}

.WildberriesTag {
    color: darkorchid;
}

.OzonTag {
    color: blue;
}
.aqua {
    color: aquamarine;
}

.aquamarker li::marker   {
    color: aqua;
}

.backg {
    background: linear-gradient(to right,  #11AE88, #2A84EE);
    border-radius: 20px;
    width: 782px;
    height: 234px;
    flex-shrink: 0;
}
