@import "./reset.css";

@font-face {
    font-family: "NT Somic";
    src: url("./Fonts/TTF/NTSomic-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "NT Somic";
    src: url("./Fonts/TTF/NTSomic-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "NT Somic";
    font-weight: normal;
    max-width: 320px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.header__btn-logout {
    background-color: white;
    border: none;

}

.header__btn-menu {
    background-color: white;
    border: none;
}

.main-content {
    padding: 25px 0;
}

.anal-descr-text {
    font-size: 27px;
    line-height: 115%;
    letter-spacing: 0.56px;
}

.anal-descr-text::after {
    content: url("./img/marketplaces-logos-m\ 1.png");
}

.anal-descr-p {
    margin-top: 33px;
    color: #6C778E;
    font-size: 18px;
    line-height: 125%;
    letter-spacing: 0.36px;
}


.WildberriesTag {
    color: darkorchid;
}

.OzonTag {
    color: blue;
}

.aqua {
    color: aquamarine;
}

.blue {
    color: blue;
}

.aquamarker li::marker {
    color: aqua;
}

.anal-ad {
    background: linear-gradient(91deg, #11AE88 5.69%, #2A84EE 125.81%), #2EB897;
    padding: 35px 20px 40px;
    border-radius: 20px;
    margin-top: 37px;
    width: 320px;
}

.anal-form__p {
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0.32px;
}

.anal-form__input {
    width: 280px;
    border-radius: 30px;
    border: none;
    padding: 18px 20px;
    outline: none;
    margin-top: 30px;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.32px; 

}

.anal-form__input::-webkit-input-placeholder {
    color:  #C3C3C3;
}

.anal-form__input::-moz-placeholder {
    color:  #C3C3C3;
}

.anal-form__button {
    width: 280px;
    background: linear-gradient(91deg, #2A84EE 5.69%, #11AE88 169.72%), #11AE88;
    box-shadow: 0px 0px 30px 0px #50ABDC;
    font-size: 18px;
    line-height: 125%;
    letter-spacing: 0.36px;
    border-radius: 30px;
    border: none;
    padding: 16px 0;
    margin-top: 20px;
    color: white;

}
