@import "./reset.css";

@font-face {
  font-family: "NT Somic";
  src: url("./Fonts/TTF/NTSomic-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "NT Somic";
  src: url("./Fonts/TTF/NTSomic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "NT Somic";
  font-weight: normal;
}

.wrapper {
  max-width: 320px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.header__visualy-hidden {
  display: none;
  font-size: 1.4rem;
}
.header__visualy-hiddenwb {
  color: #702a8a;
  font-weight: bold;
}
.header__visualy-hiddenozon {
  font-weight: bold;
  color: #1065ff;
}

.header-visualy-hidden__button {
  display: none;
}

.header__login {
  background-color: white;
  border: none;
}

.header__menu-button {
  background-color: white;
  border: none;
}

.main-content {
  padding: 25px 0;
}

.banner__title {
  font-size: 2.8rem;
  line-height: 115%;
  letter-spacing: 0.56px;
  position: relative;
}

.banner__title::after {
  content: url("./img/marketplaces-logos-m\ 1.png");
  position: absolute;
  top: 85%;
  left: 70%;
}

.banner__text {
  margin-top: 33px;
  color: #515667;
  font-size: 1.8rem;
  line-height: 125%;
  letter-spacing: 0.36px;
}

.WildberriesTag {
  color: darkorchid;
}

.OzonTag {
  color: blue;
}

.aqua {
  color: #165543;
}

.blue {
  color: #2a84ee;
}

.banner__form {
  background: linear-gradient(91deg, #11ae88 5.69%, #2a84ee 125.81%), #2eb897;
  padding: 35px 20px 40px;
  border-radius: 20px;
  margin-top: 37px;
  width: 320px;
}

.form__text2 {
  color: #e3f7ff;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.32px;
  font-size: 1.6rem;
  margin-top: 21px;
}

.form__input {
  width: 280px;
  border-radius: 30px;
  border: none;
  padding: 18px 20px;
  outline: none;
  margin-top: 30px;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.32px;
}

.form__input::-webkit-input-placeholder {
  color: #c3c3c3;
}

.form__input::-moz-placeholder {
  color: #c3c3c3;
}

.form__button {
  width: 280px;
  background: linear-gradient(91deg, #11ae88 5.69%, #2a84ee 169.72%), #11ae88;
  box-shadow: 0px 0px 30px 0px #50abdc;
  font-size: 1.125rem;
  line-height: 125%;
  letter-spacing: 0.36px;
  border-radius: 30px;
  border: none;
  padding: 16px 0;
  margin-top: 20px;
  color: white;
}

.form__button1 {
  width: 280px;
  background: linear-gradient(91deg, #11ae88 5.69%, #2a84ee 169.72%), #11ae88;

  box-shadow: 0px 0px 30px 0px #50abdc;
  font-size: 1.125rem;
  line-height: 125%;
  letter-spacing: 0.36px;
  border-radius: 30px;
  border: none;
  padding: 16px 0;
  margin-top: 20px;
  color: white;
}
.advantages__wrapper {
  background: #e8f2fc;
  width: 320px;
  border-radius: 10px;
  margin-top: 40px;
  padding: 40px 20px;
}
.advantages__number {
  color: #2a84ee;
  font-size: 5.6rem;
  line-height: 125%;
  letter-spacing: 1.12px;
  font-weight: bold;
}
.advantages__text {
  color: #3d404d;
  font-size: 1.6rem;
  line-height: 125%;
  letter-spacing: 0.32px;
}

.features__title {
  margin-top: 56px;
  color: #212121;
  font-size: 2.4rem;
  line-height: 125%;
  letter-spacing: 0.48px;
}

.features__details {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.features__subtitle {
  list-style: none;
  position: relative;
  padding: 17px 20px;
  background: linear-gradient(0deg, #e8f2fc 0%, #e8f2fc 100%),
    linear-gradient(91deg, #11ae88 5.69%, #2a84ee 125.81%), #2a84ee;
  border-radius: 10px;
  font-size: 1.8rem;
}

.features__details[open] .features__subtitle {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.features__content {
  background-color: #f6faff;
  padding: 27px 20px 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.features__subtitle::after {
  content: url(./img/button-arrow.svg);
  position: absolute;
  left: 86%;
  width: 20px;
  height: 20px;
}

.features__details[open] .features__subtitle::after {
  content: url(./img/button-arrow-down.svg);
}

.features__header {
  color: #212121;
  line-height: 125%;
  letter-spacing: 0.32px;
  font-size: 1.6rem;
}

.features__list {
  list-style: disc;
  list-style-position: inside;
  color: #454b59;
  line-height: 115%;
  letter-spacing: 0.32px;
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  font-size: 1.6rem;
}

.features__img {
  margin-top: 27px;
}

.features__list li::marker {
  color: #2eb897;
}

.features__button {
  border-radius: 30px;
  background: linear-gradient(91deg, #11ae88 5.69%, #2a84ee 169.72%), #11ae88;
  width: 280px;
  padding: 14px 0;
  color: #fff;
  line-height: 125%;
  letter-spacing: 0.32px;
  margin-top: 30px;
  font-weight: bold;
  font-size: 1.6rem;
}

.trial-period__wrappper {
  margin-top: 50px;
  background: linear-gradient(91deg, #11ae88 5.69%, #2a84ee 125.81%), #2eb897;
  border-radius: 10px;
  padding: 35px 20px 0;
}

.visially-hidden {
  color: #fff;
  font-size: 2.1rem;
  line-height: 115%;
  letter-spacing: 0.42px;
  font-style: normal;
  width: 247px;
}

.form__text {
  color: #e3f7ff;
  font-style: normal;
  line-height: 125%;
  letter-spacing: 0.32px;
  font-size: 1.6rem;
}

.form__label {
  margin-top: 30px;
}

.form__button {
  margin-top: 21px;
  font-size: 1.8rem;
}

.form__button1 {
  margin-top: 21px;
  font-size: 1.8rem;
}

.form__img {
  position: absolute;
}

.trial-period__imgits {
  position: relative;
  height: 232px;
  margin-top: 10px;
}

.trial-period__imgit1 {
  position: absolute;
  width: 227px;
  height: 232px;
  z-index: 100;
  left: 55px;
}

.trial-period__imgit2 {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 50;
  left: 222px;
  top: 140px;
}

.trial-period__imgit3 {
  position: absolute;
  width: 151px;
  height: 151px;
  z-index: 30;
  left: -20px;
  top: 82px;
}

.report__wrapper {
  margin-top: 56px;
}

.report__title {
  color: #212121;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 0.48px;
  font-size: 2.4rem;
}

.report__text {
  margin-top: 21px;
  color: #707070;
  line-height: 125%;
  letter-spacing: 0.36px;
  font-size: 1.8rem;
}

.report__list {
  margin-top: 31px;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.report__item {
  display: flex;
  align-items: flex-start;
  background: #eaf3fd;
  border-radius: 10px;
  color: #212121;
  font-style: normal;
  line-height: 125%;
  letter-spacing: 0.32px;
  font-size: 1.6rem;
  padding: 25px 20px 28px;
}

.report__item-p {
  width: 251px;
  margin-left: 9px;
}

.report__img {
  margin-top: 22px;
  margin-left: 50px;
  margin-left: 30px;
}

.why-we__wrapper {
  margin-top: 74px;
}

.why-we__title {
  color: #212121;
  font-style: bold;
  line-height: 115%;
  letter-spacing: 0.48px;
  font-size: 2.4rem;
}

.why-we__list {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.why-we__item {
  background: linear-gradient(0deg, #eaf3fd 0%, #eaf3fd 100%), #2a84ee;
  border-radius: 10px;
  padding: 32px 20px;
}

.why-we__div {
  display: flex;
  align-items: center;
}

.why-we__subtitle {
  color: #212121;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 125%;
  letter-spacing: 0.36px;
  margin-left: 11px;
}

.why-we__description {
  color: #707070;
  font-size: 1.5rem;
  line-height: 125%;
  letter-spacing: 0.3px;
  margin-top: 14px;
}

.trial-period__wrappper {
  margin-top: 60px;
}

.trial-period__imgs {
  position: relative;
  margin-top: 21px;
  height: 224px;
}

.trial-period-imgs__item {
  position: absolute;
  width: 218px;
  height: 224px;
  z-index: 100;
  left: 71px;
}

.trial-period-imgs__item2 {
  position: absolute;
  z-index: 1;
  left: -20px;
}

.choose-plan__title {
  margin-top: 56px;
  color: #212121;
  line-height: 115%;
  letter-spacing: 0.48px;
  font-size: 2.4rem;
}

.choose-plan__tab {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 320px;
  -webkit-overflow-scrolling: touch;
}

.choose-plan__tab::-webkit-scrollbar {
  display: none;
}

.choose-plan__button {
  flex: none;
  scroll-snap-align: start;
  text-align: center;
  margin-right: 8px;
  margin-top: 28px;
  border-radius: 30px;
  border: 1px solid #dbe1e9;
  width: 147px;
  padding: 10px 28px;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 125%;
  letter-spacing: 0.32px;
}

.choose-plan__button:hover {
  background: #11ae88;
  color: #fff;
}

.choose-plan__item {
  margin-top: 30px;
  background: #eaf3fd;
  border-radius: 10px;
  width: 320px;
  flex-shrink: 0;
  padding: 35px 20px 30px;
}

.choose-plan__item:nth-child(3) {
  background: #e7f7f3;
}

.choose-plan__item:nth-child(4) {
  background: linear-gradient(87deg, #fff1d7 0%, #ffb57f 100%), #e7f7f3;
  margin-bottom: 20px;
}

.choose-plan__subtitle {
  color: #212121;
  line-height: 125%;
  letter-spacing: 0.4px;
  font-style: normal;
  font-size: 2rem;
}

.choose-plan__instalment {
  margin-top: 22px;
  color: #4a4d5e;
  line-height: 125%;
  letter-spacing: 0.52px;
  font-size: 1.8rem;
}

.choose-plan__price {
  margin-top: 13px;
  color: #2a84ee;
  font-size: 2.6rem;
  line-height: 125%;
  letter-spacing: 0.52px;
  font-weight: bold;
}

.choose-plan__button1 {
  margin-top: 30px;
  border-radius: 30px;
  background: linear-gradient(91deg, #11ae88 5.69%, #2a84ee 169.72%), #11ae88;
  height: 42px;
  width: 280px;
  align-self: stretch;
  color: #fff;
  line-height: 125%;
  letter-spacing: 0.32px;
  font-weight: bold;
  font-size: 1.6rem;
}

.choose-plan__link {
  display: block;
  margin-top: 10px;
  border: 1px solid #11ae88;
  border-radius: 30px;
  width: 280px;
  height: 42px;
  padding: 8px 82px;
}

.choose-plan__link-text {
  position: relative;
  color: #212121;
  font-size: 1.6rem;
  line-height: 125%;
  letter-spacing: 0.32px;
  font-weight: bold;
}

.choose-plan__img {
  position: relative;
  height: 238px;
}

.choose-plan__img1 {
  position: absolute;
  width: 280px;
  height: 268px;
  z-index: 100;
}

.choose-plan__img2 {
  position: absolute;
  height: 150px;
  width: 150px;
  z-index: 90;
  left: -30px;
  top: 90px;
}

.choose-plan__img3 {
  position: absolute;
  width: 150px;
  height: 150px;
  z-index: 80;
  top: 117px;
  left: 170px;
}

.choose-plan__link-text::after {
  position: absolute;
  content: url(./img/arrow-right.svg);
  margin-left: 6px;
  top: 3px;
}

.reviews__wrapper {
  margin-top: 56px;
  color: #212121;
  font-size: 2.4rem;
  line-height: 115%;
  letter-spacing: 0.48px;
}

.reviews__card {
  margin-top: 28px;
  background: linear-gradient(0deg, #eaf3fd 0%, #eaf3fd 100%), #2a84ee;
  border-radius: 10px;
  width: 320px;
  height: 424px;
  font-size: 1.8rem;
}

.hedden__rewdiv {
  margin-top: 28px;
  background: linear-gradient(0deg, #eaf3fd 0%, #eaf3fd 100%), #2a84ee;
  border-radius: 10px;
  width: 320px;
  height: 424px;
  font-size: 1.8rem;
}

.hidden-reviews__text {
  color: #6c778e;
  font-size: 1.5rem;
  line-height: 125%;
  letter-spacing: 0.3px;
  padding: 37px 20px 0 20px;
}

.hidden-reviews__author {
  color: #212121;
  font-style: normal;
  line-height: 125%;
  letter-spacing: 0.36px;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 20px;
}

.reviews__text {
  color: #6c778e;
  font-size: 1.5rem;
  line-height: 125%;
  letter-spacing: 0.3px;
  padding: 37px 20px 0 20px;
}

.reviews__read-all {
  color: #2eb897;
  font-size: 1.8rem;
  line-height: 125%;
  font-weight: bold;
  letter-spacing: 0.36px;
  background: linear-gradient(0deg, #eaf3fd 0%, #eaf3fd 100%), #2a84ee;
  padding: 0 78px 0 20px;
}

.reviews__author {
  color: #212121;
  padding-left: 20px;
  font-style: normal;
  line-height: 125%;
  letter-spacing: 0.36px;
  font-weight: bold;
}

.footer {
  background: #9ccee8;
}

.footer__wrapper {
  max-width: 320px;
  margin: 0 auto;
}

.logo__imgfooter {
  margin-top: 50px;
}

.footer__description {
  margin-top: 14px;
  font-size: 1.4rem;
  color: #46485d;
  padding: 0 100px 0 0;
}

.footer__wb {
  color: #702a8a;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 125%;
}

.footer__ozon {
  color: #003db3;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 125%;
}

.footer__divul {
  display: flex;
  flex-wrap: wrap;
}

.footer__social-list {
  display: flex;
  margin-top: 30px;
  gap: 11px;
}

.footer__subtitle {
  color: #212121;
  font-size: 1.8rem;
  line-height: 125%;
  letter-spacing: 0.36px;
  font-weight: bold;
  margin-top: 35px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.footer__item {
  color: #4a4d5e;
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 125%;
  letter-spacing: 0.36px;
}

.footer__partners {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 16px;
  margin-top: 33px;
}

.footer__text {
  margin-top: 36px;
  color: #4a4e5e;
  font-size: 1.6rem;
  font-weight: normal;
}

.grid__wrapper > div {
  border: 2px solid black;
}

.grid__wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
  margin-top: 30px;
  grid-template-areas:
    "header header header header header"
    "sidebar main main main main"
    "sidebar main main main main"
    "sidebar main main main main"
    "sidebar main main main main"
    "footer footer footer footer footer";
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.one {
  grid-column: 1 / 4;
  grid-row: 1;
  background-color: white;
}

.two {
  grid-column: 4 / 6;
  grid-row: 1 / 2;
  background-color: yellow;
}

.three {
  grid-column: 1 / 4;
  grid-row: 2 / 5;
  background-color: red;
}

.four {
  grid-column: 4 / 6;
  grid-row: 2;
  background-color: yellow;
}

.five {
  grid-column: 4;
  grid-row: 3/5;
  background-color: white;
}

.six {
  grid-column: 5;
  grid-row: 3/5;
  background-color: white;
}

.seven {
  grid-column: 1;
  grid-row: 5;
  background-color: black;
}

.eight {
  grid-column: 2 / 4;
  grid-row: 5;
}

.nine {
  grid-column: 4 / 6;
  grid-row: 5;
}

.grid__graf {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(30px, auto);
  gap: 10px;
  padding: 25px 0;
  grid-template-areas:
    "header header header header header header header"
    "sidebar sidebar main main main main main"
    "sidebar sidebar main main main main main"
    "sidebar sidebar main main main main main"
    "footer footer footer footer footer footer footer";
}
.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
.one1 {
  grid-column: 1;
  grid-row: 1/4;
  background-color: #702a8a;
  color: white;
  padding: 5px;
}
.two2 {
  grid-column: 2 / 8;
  grid-row: 1;
  border: 1px solid blue;
}
.three3 {
  grid-column: 2 / 4;
  grid-row: 2;
  border: 1px solid blue;
}
.four4 {
  grid-column: 4 / 6;
  grid-row: 2;
  border: 1px solid blue;
}
.five5 {
  grid-column: 6 / 8;
  grid-row: 2;
  border: 1px solid blue;
}
.six6 {
  grid-column: 2 / 5;
  grid-row: 3;
  border: 1px solid blue;
}
.seven7 {
  grid-column: 5/ 8;
  grid-row: 3;
  border: 1px solid blue;
}

.grid {
  display: grid;
  grid-template-areas: "";
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.box1 {
  display: grid;
  place-items: center;
}

.box1__li {
  grid-row: 1;
  grid-column: 1;
  display: inline-block;
  font-size: 14px;
  color: #fff;
  background-color: #007bff;
  border: 1px solid #007bff;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s;
}

.box1__li:hover {
  background-color: #b30077;
  border-color: #b30077;
}

.box1__li:active {
  background-color: #850000;
  border-color: #850000;
  transform: translateY(1px);
}

.bigger-size__h2 {
  font-size: 3.5rem;
  background-color: rgb(52, 161, 235);
}

.flipping-card {
  background-color: #111;
}

.container {
  box-sizing: content-box;
  margin: 0 auto 48px auto;
  padding: 12px;
}
.tabpanel__tab {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.tabpanel__tab:checked + .tabpanel__tablabel {
  background: #e8f2fc;
  color: black;
}
.tabpanel__tablabel {
  flex: 0 1 auto;
  padding: 12px;
  background: #0853a0;
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
}
.tabpanel__tablabel:hover {
  cursor: pointer;
}
.tabpanel__panel {
  display: none;
  background: #e8f2fc;
}
.tabpanel__panel > *:first-child {
  margin-top: 0;
}
.tabpanel__panel > *:last-child {
  margin-bottom: 0;
}
.tabpanel__panel > * + * {
  margin-top: 24px;
}
#tabpanel__tab-1:checked ~ .tabpanel__panels #tabpanel__panel-1,
#tabpanel__tab-2:checked ~ .tabpanel__panels #tabpanel__panel-2,
#tabpanel__tab-3:checked ~ .tabpanel__panels #tabpanel__panel-3,
#tabpanel__tab-4:checked ~ .tabpanel__panels #tabpanel__panel-4,
#tabpanel__tab-5:checked ~ .tabpanel__panels #tabpanel__panel-5 {
  display: block;
  position: relative;
  top: 0px;
}
.media__body > * {
  margin: 0;
}
.media__body > p + p,
.media__body > p + h2 {
  margin-top: 24px;
}
.media {
  display: flex;
}
@media screen and (max-width: 600px) {
  .media {
    flex-direction: column;
    align-items: flex-start;
  }
  .media .media__img {
    margin: 0 auto;
  }
  .media .media__img + .media__body {
    margin: 12px 24px 24px 24px;
  }
}
@media screen and (min-width: 601px) {
  .media {
    align-items: flex-start;
  }
  .media .media__img {
    flex: 0 1 auto;
    height: auto;
  }
  .media .media__img + .media__body {
    margin: 24px 105px 24px 18px;
  }
}
.tabpanel {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
@media screen and (max-width: 600px) {
  .tabpanel {
    flex-direction: column;
  }
  .tabpanel .tabpanel__tablabel {
    padding: 24px 36px;
  }
  .tabpanel .tabpanel__tablabel + .tabpanel__tab + .tabpanel__tablabel {
    margin-top: 6px;
  }
  .tabpanel .tabpanel__tab:checked ~ .tabpanel__panels {
    order: 1;
  }
  .tabpanel .tabpanel__tab:not(:checked) + .tabpanel__tablabel {
    order: initial;
  }
  .tabpanel #tabpanel__tab-1 + .tabpanel__tablabel {
    order: 1;
  }
  .tabpanel #tabpanel__tab-1:checked ~ .tabpanel__panels {
    order: 1;
  }
  .tabpanel #tabpanel__tab-2 + .tabpanel__tablabel {
    order: 2;
  }
  .tabpanel #tabpanel__tab-2:checked ~ .tabpanel__panels {
    order: 2;
  }
  .tabpanel #tabpanel__tab-3 + .tabpanel__tablabel {
    order: 3;
  }
  .tabpanel #tabpanel__tab-3:checked ~ .tabpanel__panels {
    order: 3;
  }
  .tabpanel #tabpanel__tab-4 + .tabpanel__tablabel {
    order: 4;
  }
  .tabpanel #tabpanel__tab-4:checked ~ .tabpanel__panels {
    order: 4;
  }
  .tabpanel #tabpanel__tab-5 + .tabpanel__tablabel {
    order: 5;
  }
  .tabpanel #tabpanel__tab-5:checked ~ .tabpanel__panels {
    order: 5;
  }
  .tabpanel .tabpanel__panel {
    padding: 0 12px 12px 12px;
  }
}
@media screen and (min-width: 601px) {
  .tabpanel {
    flex-direction: row;
  }
  .tabpanel .tabpanel__tablabel {
    flex: 0 1 auto;
    padding-left: 24px;
    padding-right: 24px;
  }
  .tabpanel .tabpanel__panel {
    padding: 12px;
  }
  .tabpanel .tabpanel__panels {
    flex: 1 1 100%;
  }

  .tabpanel__tablabel {
  }
}

.box1__img {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
}

.link__grid {
  font-size: 3rem;
}

.reviews__pagination {
  display: flex;
  gap: 6px;
  margin-left: 10px;
}

.header__wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 1rem 1.4rem 1rem;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.header__logo {
  text-decoration: none;
}

.menu__reg {
  text-decoration: none;
  margin-right: 20px;
}

.menu__burger {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form {
  margin-bottom: 20px;
}

.form__wrapper {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.top__fieldset {
  border: none;
}

.form__top {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(80deg, #31bd9a 5.69%, #2b74d3 125.81%), #2eb897;
}

.top__title {
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 125%;
  text-align: center;
}

.group__label {
  display: block;
  margin: 10px 0 5px;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 125%;
}

.group__input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #06221f;
}
.option-input:checked::before {
  width: 40px;
  height: 40px;
  display: flex;
  content: "✔";
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #134b45;
  content: "";
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.glow-on-hover {
  width: 100%;
  margin-top: 10px;
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 8px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.group__input--radio {
  width: auto;
  padding: 0;
}

.group__select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

.footer__wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 5rem 2rem;
  background-color: var(--eighth-color);
  margin-top: 6.5rem;
}

.footer__logo {
  text-decoration: none;
}

.footer__subtitle1 {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 125%;
  text-align: left;
  color: #969eb1;
  max-width: 22rem;
  width: 100%;
  margin: 1.4rem 0rem 3rem 0rem;
}

.footer__subtitle1--purple {
  color: var(--ninth-color);
  font-weight: bold;
}

.footer__subtitle1--blue {
  color: var(--tenth-color);
  font-weight: bold;
}

.footer__social-services {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.1rem;
  flex-shrink: 0;
  margin-bottom: 3.5rem;
}

.social-services__logo {
  text-decoration: none;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 2rem 4rem;
}

.service__subtitle {
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 125%;
  text-align: left;
  color: var(--first-color);
  width: 100%;
  margin-bottom: 2.6rem;
}

.navigation__button {
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 125%;
  text-align: left;
  color: var(--third-color);
  text-decoration: none;
  display: block;
  width: 100%;
  margin-bottom: 2.6rem;
}

.clients__subtitle {
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 125%;
  text-align: left;
  color: var(--first-color);
  width: 100%;
  margin-bottom: 2.6rem;
}

.documentation__subtitle {
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 125%;
  text-align: left;
  color: var(--first-color);
  width: 100%;
  margin-bottom: 2.6rem;
}

.footer__payment {
  list-style-type: none;
  margin-bottom: 4rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-shrink: 0;
  gap: 1rem 1rem;
}

.payment__cards {
  margin-bottom: 2rem;
}

.payment__card {
  text-decoration: none;
}

.footer__copyright {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 125%;
  text-align: left;
  color: var(--third-color);
  width: 100%;
  margin-bottom: 2.7rem;
}

.footer__text {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 125%;
  text-align: left;
  color: var(--third-color);
  width: 100%;
  margin-bottom: 2.7rem;
}

.footer__designer {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 125%;
  text-align: left;
  color: var(--third-color);
  width: 100%;
}

.footer__designer--green {
  color: var(--fifth-color);
}

.MPASSISTANT__container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  border: 1px solid var(--border-black);
  border-radius: 10px;
  background-color: var(--bg-black-element);
  width: 100%;
  height: 100px;
}
.MPASSISTANT__container img {
  transform: scale(1.5);
}
.MPASSISTANT__container li {
  position: absolute;
  left: 100%;
  display: flex;
  justify-content: center;
  animation: infinite-roll 4s linear infinite;
  width: 25%;
}
.MPASSISTANT__container li:nth-child(1) {
  animation-delay: -3s;
}
.MPASSISTANT__container li:nth-child(2) {
  animation-delay: -2s;
}
.MPASSISTANT__container li:nth-child(3) {
  animation-delay: -1s;
}

@keyframes infinite-roll {
  0% {
    translate: 0;
  }
  100% {
    translate: -500%;
  }
}

.flipping-card__container {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 75px;
  border: 1px solid var(--border-black);
  border-radius: 10px;
  background-color: var(--bg-black-element);
}
.flipping-card__container li {
  position: relative;
  width: 500px;
  height: 500px;
  perspective: 1500px;
}
.flipping-card__container li img {
  width: 100%;
}
.profile,
.backside {
  position: absolute;
  transition: 1s;
  backface-visibility: hidden;
}
.backside {
  transform: rotateY(180deg);
}
.flipping-card__container li:hover .profile {
  transform: rotateY(180deg);
}
.flipping-card__container li:hover .backside {
  transform: rotateY(360deg);
}

.profile {
  width: 380px;
}

.backside {
  width: 380px;
}

.backside:nth-child(1) {
  width: 500px;
}

.reviews__button {
  background: none;
  border: none;
}

.hedden__imgdiv {
  display: none;
}

.hedden__rewdiv {
  display: none;
}

.header__loginrwd {
  display: none;
}
.button-hidden_rwd {
  display: none;
}

.reviews__cardrwd {
  display: none;
}

.imghidrwd {
  display: none;
}

.hidden-treal__img {
  display: none;
}

.nonetrial__img {
  display: none;
}

.choose-plan__hiddenimg {
  display: none;
}
.choose-plan__hiddenimg2 {
  display: none;
}
.choose-plan__hiddenimg3 {
  display: none;
}
.choose-plan__tabcontent {
  position: relative;
}

.vishid-clocl__wrapp {
  display: none;
}

.hidden-blure__wrapp {
  display: none;
}

.vishidtreal__item {
  display: none;
}

.vishidtreal__item2 {
  display: none;
}

@media screen and (min-width: 550px) {
  .wrapper {
    max-width: 545px;
  }

  .footer__wrapper {
    max-width: 100%;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 65px;
  }
  .advantages__wrapper {
    width: 100%;
  }
  .advantages__item {
    width: 456px;
  }
  .header-visualy-hidden__button {
    background: none;
  }
  .banner__form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 700px;
  }
  .banner__form {
    width: 540px;
  }

  .form__wrapper {
    max-width: 400px;
  }
  .form__top {
    width: 400px;
  }

  .report__list {
    width: 100%;
  }
  .report__img {
    width: 100%;
    height: 416px;
  }
  .report__item-p {
    width: 100%;
  }
  .header-visualy-hidden__button {
    display: inline-block;
  }
  .choose-plan__tab {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 700px;
    -webkit-overflow-scrolling: touch;
  }

  .choose-plan__tab::-webkit-scrollbar {
    display: none;
  }
  .choose-plan__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .choose-plan__item:nth-child(4) {
    justify-content: center;
    width: 100%;
  }

  .hidden__rewdiv {
    display: flex;
  }
  .footer__divul {
    display: inline-block;
  }
}

@media screen and (min-width: 720px) {
  .wrapper {
    max-width: 715px;
  }
  .banner__form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1604px;
  }
  .banner__form {
    width: 710px;
  }

  .reviews__pagination {
    display: none;
  }

  .hid-flex__card {
    display: flex;
    gap: 30px;
  }

  .hedden__rewdiv {
    display: block;
  }

  .form__wrapper {
    max-width: 500px;
  }
  .form__top {
    width: 500px;
  }

  .visially-hidden {
    width: 500px;
  }

  .form__label {
    display: block;
    background-color: white;
    border-radius: 30px;
    margin-top: 10px;
  }

  .form__label1 {
    display: block;
    background-color: white;
    border-radius: 30px;
  }

  .imghidrwd {
    display: inline;
    width: 48px;
    height: 48px;
    background: none;
  }

  .rwddiv {
    display: flex;
    justify-content: space-between;
  }

  .form__input {
    margin-top: 0px;
  }
  .form__button1 {
    margin-top: 0px;
    margin-left: 90px;
    padding: 10px 0;
  }
  .form__button {
    margin-top: 0px;
    margin-left: 90px;
    padding: 10px 0;
  }

  .reviews__cardrwd {
    display: flex;
  }

  .rwd__report {
    display: flex;
  }
  @media screen and (min-width: 1000px) {
    .wrapper {
      max-width: 995px;
    }
    .header__visualy-hidden {
      display: block;
      width: 220px;
      margin-right: 200px;
    }

    .hidden__text {
      width: 973px;
    }
    .form__button {
      margin-left: 300px;
      padding: 10px 0;
    }
    .header__login {
      display: none;
    }

    .hidden__img12 {
      position: absolute;
      right: 190px;
      top: 40px;
      width: 380px;
    }

    .visially-hidden {
      font-size: 3rem;
    }

    .form__label1 {
      margin-top: 10px;
    }
    .choose-plan__img {
      display: none;
    }

    .reviews__card {
      width: 470px;
      height: 350px;
    }

    .hedden__rewdiv {
      width: 470px;
      height: 350px;
    }

    .form__wrapper {
      max-width: 600px;
    }
    .form__top {
      width: 600px;
    }

    .header__loginrwd {
      display: inline-block;
      background: none;
      margin-bottom: 10px;
      font-size: 1.8rem;
      font-weight: bold;
    }

    .trial-period__imgits {
      left: 30%;
    }

    .trial-period__imgs {
      left: 30%;
    }

    .tabpanel__tablabel {
      width: 20%;
    }
  }
  @media screen and (min-width: 1320px) {
    .wrapper {
      max-width: 1315px;
    }

    .trial-period__imgits {
      display: none;
    }

    .vishidtreal__item {
      display: flex;
      z-index: 80;
      position: absolute;
      right: 6%;
    }

    .trial-period__wrappper {
      padding: 35px 20px 50px;
    }

    .form__wrapper {
      max-width: 700px;
    }
    .form__top {
      width: 700px;
    }

    .form__label1 {
      width: 70%;
      margin-top: 10px;
    }

    .choose-plan__img {
      display: none;
    }
    .hidden-treal__img {
      display: flex;
      position: absolute;
      z-index: 100;
      left: 75%;
    }

    .vishidtreal__item2 {
      display: flex;
      position: absolute;
      top: 363%;
      left: 70%;
    }

    .vishid-clocl__wrapp {
      display: flex;
      position: absolute;
      right: 22%;
    }

    .choose-plan__list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }

    .choose-plan__item:nth-child(1) {
      width: 400px;
    }

    .choose-plan__item:nth-child(2) {
      width: 400px;
    }

    .choose-plan__item:nth-child(3) {
      width: 400px;
    }

    .choose-plan__hiddenimg {
      display: flex;
      position: absolute;
      left: 45%;
      top: 54%;
      width: 500px;
      height: 300px;
    }

    .choose-plan__hiddenimg2 {
      display: flex;
      position: absolute;
      left: 45%;
      top: 60%;
    }

    .choose-plan__hiddenimg3 {
      display: flex;
      position: absolute;
      left: 70%;
      top: 77.7%;
    }

    .nonetrial__img {
      display: flex;
      z-index: 100;
      position: absolute;
      left: 75%;
      width: 227px;
      height: 224px;
      top: 466.9%;
    }

    .trial-period__imgs {
      display: none;
    }
    .header__menu-button {
      display: none;
    }

    .button-hidden_rwd {
      display: inline-block;
      width: 200px;
      background: linear-gradient(91deg, #11ae88 5.69%, #2a84ee 169.72%);
      box-shadow: 0px 0px 30px 0px #50abdc;
      font-size: 1.125rem;
      line-height: 125%;
      letter-spacing: 0.36px;
      border-radius: 30px;
      border: none;
      padding: 5px 0;
      margin-top: 20px;
      color: white;
    }

    .why-we__list {
      display: grid;
      grid-template-columns: 49.6% 49.6%;
      grid-template-rows: 160px 160px;
    }
    .hedden__imgdiv {
      display: flex;
    }

    .hidden__img12 {
      position: absolute;
      right: 190px;
      top: 40px;
      width: 380px;
    }

    .reviews__card {
      width: 600px;
      height: 350px;
    }

    .hedden__rewdiv {
      width: 600px;
      height: 350px;
    }

    .tabpanel__tablabel {
      width: 20%;
    }

    .vishidtreal__item2 {
      display: flex;
      position: absolute;
      top: 477.5%;
      left: 70%;
    }

    .banner {
      position: relative;
    }
    .trial-period__imgs {
    }
  }
  @media screen and (min-width: 1560px) {
    .wrapper {
      max-width: 1555px;
    }
    .why-we__list {
      display: grid;
      grid-template-columns: 33% 33% 33%;
      grid-template-rows: 200px 200px;
    }
    .form__label1 {
      width: 60%;
    }

    .nonetrial__img {
      display: flex;
      z-index: 100;
      position: absolute;
      left: 75%;
      width: 227px;
      height: 224px;
      top: 431.4%;
    }

    .vishidtreal__item2 {
      display: flex;
      position: absolute;
      top: 441.9%;
      left: 70%;
    }

    .hid-flex__card {
      display: flex;
      margin-left: 100px;
      gap: 100px;
    }

    .tabpanel__tablabel {
      width: 20%;
    }
  }
  @media screen and (min-width: 1920px) {
    .wrapper {
      max-width: 1604px;
    }
    .why-we__list {
      display: grid;
      grid-template-columns: 33% 33% 33%;
      grid-template-rows: 200px 200px;
    }
    .reviews__card {
      width: 900px;
      height: 350px;
    }

    .hedden__rewdiv {
      width: 900px;
      height: 350px;
    }
    .choose-plan__item:nth-child(1) {
      width: 500px;
    }

    .choose-plan__item:nth-child(2) {
      width: 500px;
    }

    .choose-plan__item:nth-child(3) {
      width: 500px;
    }

    .choose-plan__hiddenimg {
      display: flex;
      position: absolute;
      left: 45%;
      top: 54%;
      width: 500px;
      height: 300px;
    }

    .tabpanel__tablabel {
      width: 20%;
    }

    .nonetrial__img {
      display: flex;
      z-index: 100;
      position: absolute;
      left: 75%;
      width: 227px;
      height: 224px;
      top: 394.3%;
    }

    .form__label1 {
      width: 57%;
    }

    .vishidtreal__item2 {
      display: flex;
      position: absolute;
      top: 403.8%;
      left: 70%;
    }

    hid-flex__card {
      display: flex;
      margin-left: 50px;
      gap: 90px;
    }
  }
}
